.fable {
    &__header {
       position: relative; 

       &--img {
           position: absolute;
           top: 3rem;
           left: 3rem;
           width: 30%;
           height: auto;
       }
    }
}