.header {
    height: 35vh;  /* 35 % of viewport height */
    background-color: $color-primary;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 28vh, 0 100%);

    &__left {
        position: absolute;
        top: 2.4rem;
        left: 8%;
    }

    &__right {
        position: absolute;
        top: 1.5rem;
        left: 70%;

        &--img {
            width:60%;
        }

    }

    &__text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}